/** ESTILOS GERAIS **/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

header {
    background: linear-gradient(177.57deg, #5248F8 0.93%, #121276 103.02%);
    width: 135px;
    height: 1170px;
    
}

main {
    width: 1000px;
    height: 1170px;
}

ul {
    list-style: none;
}

/** MENU PRINCIPAL **/

.imagem-logo {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 200px;   
}

#menu-opcoes {
    text-align: center;
}

li img {
margin: 20px;
}

.icone-menu-config {
    margin-top: 380px;
}

/* Estilos do Agendamento */


.agenda {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    
}

.agendamentos {
    position: absolute;
    left: 630px;
    top:100px;
}

h1 {
    color: #121276;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #121276;
    font-size: 13px;
}

#eventos-lista {
    margin-top: 20px;
}

button {
    background-color: #E5C73F;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    height: 50px;
    position: absolute;
    left: 590px;
    top:550px;
}

button:hover {
    background-color: #0056b3;
}